{:org.httpkit.server/config         {:port 3001
                                     :ip   "localhost"}

 :com.fulcrologic.rad.database-adapters.datomic/databases
                                    {:main {:datomic/schema :production
                                            :datomic/database "example-test"
                                            :datomic/client {:server-type :dev-local
                                                             :system "fulcro-rad-demo"}
                                            :datomic/prevent-changes? true}}

 :taoensso.timbre/logging-config    {
                                     ;:level        :debug
                                     :level        :info
                                     }}